<!DOCTYPE html>
<html>
	<head>
		<title>Cadastro de Alunos</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="panel-default">
				<div class="text-center">
					<h1 class="h4 text-gray-900 mb-4">Cadastrar Aluno</h1>
				</div>
				<div class="panel-body">
					<form th:action="@{/curso/salvar}" class="form-horizontal" th:object="${curso}" method="post" style="margin: 10px;">
						<div class="form-group">
							<fieldset>
								<div class="form-group row">
									<label>Nome</label>
									<input type="text" th:field="*{nome}" class="form-control input-sm" placeholder="Informe o nome" maxLenght="50"/>
									
								</div>
							</fieldset>
							<div align="center">
								<button type="submit" class="btn btn-sm btn-success">Salvar</button>
							</div>
						</div>
					</form>
					<a class="btn btn-sm btn-danger" th:href="@{/curso/listarCursos}">Voltar</a>
				</div>
			</div>
		</div>
	</body>
</html>